In [78]:
import pandas as pd
pd.options.display.float_format = '{:.0f}'.format

In [79]:
df1 = pd.read_csv(r'C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\unclean_dataset_p1.csv')
df2 = pd.read_csv(r'C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\unclean_dataset_p2.csv')

df1.head(5)

,id,text,Annotation
0,596965466238619648,I just found the *perfect* rental. Why can't m...,Neither
1,575891807873040384,"@wetsprocket every time they ""discover"" anythi...",Neither
2,595259457828884480,ok time to write code bbl.\n\nmaking a new thing.,Neither
3,572344911002927104,Refined dessert! NOT #MKR,Neither
4,568132033215475712,@furt1v3ly @ClarkHat One of the best things an...,Neither

In [80]:
df2.head(5)

,tweet_id,text,label
0,625778285025346048,American Voices: Boy Scouts To Lift Ban On Gay...,homophobia
1,555102898556636992,Homosexuality is a disease!pic.twitter.com/Re2...,homophobia
2,535859739163243008,Gay Man Unaware He Focus Of Thousands Of Praye...,homophobia
3,448730038905478976,"Stop smearing feces on the wall, homosexuals! ...",homophobia
4,360126262154510016,A Straight Man Asks How to Ditch a Gay Friend ...,homophobia

In [81]:
#renaming the label column in df2 to 'Annotation', and the tweet_id to id - preparation to merge both the dataframes
df2 = df2.rename(columns={"label": "Annotation", "tweet_id": "id"})
df2.head(5)

,id,text,Annotation
0,625778285025346048,American Voices: Boy Scouts To Lift Ban On Gay...,homophobia
1,555102898556636992,Homosexuality is a disease!pic.twitter.com/Re2...,homophobia
2,535859739163243008,Gay Man Unaware He Focus Of Thousands Of Praye...,homophobia
3,448730038905478976,"Stop smearing feces on the wall, homosexuals! ...",homophobia
4,360126262154510016,A Straight Man Asks How to Ditch a Gay Friend ...,homophobia

In [82]:
#combine both the dataframes into one dataset
print("df1 size: ", len(df1))
print("df2 size: ", len(df2))
frames = [df1, df2]
dataset = pd.concat(frames)
print("combined dataset size: ", len(dataset))

df1 size:  6909
df2 size:  87
combined dataset size:  6996

In [83]:
#check for and remove any duplicate tweets

print(dataset[dataset.duplicated(['id'], keep='first')])
dataset_no_dupes = dataset.drop_duplicates(subset=['id'], keep='first')
print("combined dataset size without duplicate tweets: ", len(dataset_no_dupes))

Empty DataFrame
Columns: [id, text, Annotation]
Index: []
combined dataset size without duplicate tweets:  6996

In [84]:
#for simplicity in classification, the tweets that contain 'both' will be removed
combined_dataset = dataset_no_dupes[dataset_no_dupes.Annotation != 'Both']
print("dataset size without 'both' class:", len(final_dataset))

dataset size without 'both' class: 6946

In [85]:
combined_dataset["Annotation"].replace({"homophobia": "Homophobia"}, inplace=True)
        
print(combined_dataset['Annotation'].value_counts())

Neither       5850
Sexism         911
Racism          98
Homophobia      87
Name: Annotation, dtype: int64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [86]:
combined_dataset.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\unclean_combined_dataset.csv",
              index=False)